<!DOCTYPE html>
<html>
<meta charset="UTF-8">
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- loads the path to your static files -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'draftapp/style.css' %}" />
{% block title%}
<title>SNEEP</title>
{% endblock %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4e9e9; width:120%">
    <div class="container-fluid">
      <a class="navbar-brand" href="">SNEEP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'draftapp:index' %}">SNEEP overview</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Queries
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'draftapp:gwas_search_extended'%}">GWAS trait search</a></li>
              <li><a class="dropdown-item" href="{% url 'draftapp:gene_search'%}">Gene search</a></li>
              <li><a class="dropdown-item" href="{% url 'draftapp:snp_search'%}">SNP search</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'draftapp:REST_API' %}">REST API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block body%}
  {% endblock %}




</body>

</html>