{% extends "draftapp/base.html" %}
{% block body%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<div class="container">
  <div class = "row h-200">
    <div class="col-6">
  <h4>Enter a gene to find associated rSNPs:</h2>
  </div>
  <div class = "row input-group text-center">
  <div class="col-2">
  <form action="{% url 'draftapp:gene_search_results'%}" method="get" class="d-flex" role="search">
  <input class="form-control me-2 d-flex" type="search" name="genes" placeholder="genes" aria-label="Search" id="gene_input">
</div>
<div class = "row h-200">
  <ul id = "gene_list">
  </ul>
  
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
  integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
  crossorigin="anonymous"></script>
  
  <script>
    let gene_list = [];
    $(function () {
        var availableTags = [
            {% for gene in genes %}
        "{{gene.genesymbol}}",
        {% endfor %}
];



$("#gene_input").autocomplete({
    source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);

        response(results.slice(0, 20));},

        select: function(event, ui) {
        /*let a = $('#multi').val().split(",");
        a.push(ui.item.value);*/
        gene_list.push(ui.item.value);
        console.log(gene_list);
        let list = document.getElementById("gene_list");
        let li = document.createElement('button');
        li.classList.add("gene_button");
        li.innerText = gene_list.slice(-1);
        const isThisElement = (element) => element == li.innerText;
        li.onclick = function(){gene_index = gene_list.findIndex(isThisElement);    
        if (gene_index != -1){
          gene_list.splice(gene_index, 1) 
        }; li.remove(); };
        list.appendChild(li);
        /*$('#multi').val(a.filter(x => x).join(","));*/
        document.getElementById('gene_input').value = "";
        return false;
  },
        
 });
});


</script>
</div>
<div class="col-2">
  {% for gene in gene_search %}
 <div>
  <button onclick="remove_gene(gene)">x</button>
  {{gene}}
</div>
  {% endfor %}
</div>
    <div class = "row h-100 mt-5">
      <div class="col-12 mx-auto">
        <button class="btn d-flex" style="background-color: #00CED1;" type="submit" onclick="fillGenes()">Search</button>
      </form>
      </div>
      </div>
</div>
</div>
</div>

<script>function fillGenes() {
  document.getElementById('gene_input').value = gene_list;
  console.log(document.getElementById('gene_input').value.split(","));
}</script>



<script>function exemplaryGeneQuery() {
  document.getElementById('multi').value = "EBF1,OGFOD2,MIR4304,SLC17A4,LINC01111,FOSB";
}</script>
<button type="button" class='ajax_search_list' id="exemplary_query" onclick="exemplaryGeneQuery()">Example Query</button>

<style>
  .gene_button{
    background: #CCFFFF;
  }
</style>

{% endblock %}