{% extends "draftapp/base.html" %}
{% block body%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>


<div class="container">
  <div class = "row h-200">
    <div class="col-6">
  <h4>Enter a gene to find associated rSNPs:</h2>
  </div>
    <div class = "row input-group">
      <div class="col-4">
    <form action="{% url 'draftapp:gene_search_results'%}" method="get" class="d-flex" role="search">
        <select name="genes[]"  id ="genes" class = "genes"  multiple>
        
         {%for gene in genes.values%}
          <option value= "{{gene.0}}"> {{gene.0}}</option>
          {% endfor %}
      </select>
   </div>
</div>
</div>
</div>

  
<script>

  new MultiSelectTag('genes', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'genes',  // default Search...
})

</script>




{% endblock %}