{% extends "draftapp/base.html" %}
{% block body%}
{% load static %}





<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<script src="{% static 'js/multiselect_new.js' %}"></script>

<div class = "container-fluid">
<div class="container">
  <div class="row h-200">
    <div class="col-4">
      <h4>Query rSNPs for a GWAS trait by name or EFO ID:</h2>
    </div>
    <div class="col-4">
      <h4>Query rSNPs for a transcription factor:</h2>
    </div>
    <div class="col-4">
      <h4>Query rSNPs of a chromosome:</h2>
    </div>
  </div>




  <div class="row input-group">
    <form action="{% url 'draftapp:Gwas_search_results_dict'%}" method="get" class="d-flex" role="search">

     

      <div class="col-4">
        <select name="gwas[]" id="gwas" class="gwas" multiple>
        </select>
      </div>



      <div class="col-4">
        <select name="tf[]" id="tf" class="tf" multiple>
          {%for tf in tfs%}
          <option value="{{tf.name}}"> {{tf.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-4">
        <select name="chromosome[]" id="chr" class="chr" multiple>
          {%for CHR in chrs%}
          <option value="{{CHR}}"> {{CHR}}</option>
          {% endfor %}
        </select>
      </div>


      <div class="row h-100 mt-5">
        <div class="col-4 mx-auto">
          <button class="btn d-flex search" style="background-color: #063944; color: #fff; border-color: #063944" type="submit">Search</button>
    </form>
  </div>
</div>

</div>
</div>


<script>

  new MultiSelectTag('tf', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'transcription factors',  // default Search...
    id: "tf_input", 
  })
  new MultiSelectTag('chr', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'chromosome',  // default Search...
    id: "chr_input", 
  })

  new MultiSelectTag('gwas', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'gwas',  // default Search...
    id: "gwas_input", 
    list_id: "gwas_options",
    multiselect_id: "gwas_multi",
  })
</script>

<script>
  let gwas_options = [];
  $(function () {
    var availableTags = [
    {%for gwas in gwases%}
            "{{gwas.name}}",
    {% endfor %}
    {%for gwas in gwases%}
            "{{gwas.efoid}}",
    {% endfor %}
    ];

    $("#gwas_input").autocomplete({
    source: function (request, response) {
      var results = $.ui.autocomplete.filter(availableTags, request.term);
      //var str = "";
      gwas_options = results.slice(0, 4);
      gwas_options.forEach((gwas, index) => {
      if (index > 0) { this.value = gwas, this.label = gwas, this.selected = "false"} 
    });
    console.log(gwas_options);
    console.log(document.getElementById('gwas_options'));
      updateMultiSelectTag('gwas', gwas_options, 'gwas_options');
     /* for (var item of results.slice(0, 4)) {
        

        //let n=document.createElement("li");
        let o=document.createElement("option");
        #o.value = item;
        o.innerHTML = item;
        let newOption = new Option(item,item);
        const select = document.querySelector('select'); 
        select.add(newOption,undefined);
        location.reload;*/
        //n.appendChild(o);
        //$("#gwas").appendChild(o);
     }});
      //document.getElementById("selected_gwas").innerHTML = str;*/
      //response(results.slice(0, 4));
    //}, 
   
  });
</script>

<script>
  function exemplaryGeneQuery() {
    $('#gwas').val(["atherosclerosis"]);
    $('#tf').val(["AIRE", "EBF3", "ZBTB6"]);
    $('#chr').val(["chr11", "chr12"]);
    location.reload();

  }</script>
<button type="button" class='exemplary_query btn btn-light btn-outline-dark col-xs-2 text-left' style="background-color: #e3e6e6;" id="exemplary_query" onclick="exemplaryGeneQuery()">Example
  Query</button>
</div>

<style>
  .exemplary_query:hover, .exemplary_query:focus, .exemplary_query:active, .exemplary_query.active, .open>.dropdown-toggle.exemplary_query {
    color: #fff !important;
    background-color: #063944 !important;
    border-color: #063944 !important; /*set the color you want here*/
}
.search:hover, .search:focus, .search:active, .search.active, .open>.dropdown-toggle.search {
  color: #063944 !important;
    background-color: white !important;
    border-color: #063944 !important; /*set the color you want here*/
}

</style>
{% endblock %}

