{% extends "draftapp/base.html" %}
{% block body%}





<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

<div class="container">
  <div class="row h-200">
    <div class="col-4">
      <h4>Query rSNPs for a GWAS trait by name or EFO ID:</h2>
    </div>
    <div class="col-4">
      <h4>Query rSNPs for a transcription factor:</h2>
    </div>
    <div class="col-4">
      <h4>Query rSNPs of a chromosome:</h2>
    </div>
  </div>




  <div class="row input-group">
    <form action="{% url 'draftapp:Gwas_search_results_dict'%}" method="get" class="d-flex" role="search">

      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

      <div class="col-4">
        <select name="gwas[]" id="gwas" class="gwas" multiple>

          {%for gwas in gwases%}
          <option value="{{gwas.name}}"> {{gwas.name}}</option>
          {% endfor %}
          {%for gwas in gwases%}
          <option value="{{gwas.efoid}}"> {{gwas.efoid}}</option>
          {% endfor %}
        </select>
      </div>



      <div class="col-4">
        <select name="tf[]" id="tf" class="tf" multiple>

          {%for tf in tfs%}
          <option value="{{tf.name}}"> {{tf.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-4">
        <select name="chromosome[]" id="chr" class="chr" multiple>

          {%for CHR in chrs%}
          <option value="{{CHR}}"> {{CHR}}</option>
          {% endfor %}
        </select>
      </div>


      <div class="row h-100 mt-5">
        <div class="col-4 mx-auto">
          <button class="btn d-flex" style="background-color: #00CED1;" type="submit">Search</button>
    </form>
  </div>
</div>

</div>
</div>
</div>

<script>

  new MultiSelectTag('tf', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'transcription factors',  // default Search...
  })
  new MultiSelectTag('chr', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'chromosome',  // default Search...
  })

  new MultiSelectTag('gwas', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'gwas',  // default Search...
  })
</script>



<script>
  function exemplaryGeneQuery() {
    $('#gwas').val(["atherosclerosis"]);
    $('#tf').val(["AIRE", "EBF3", "ZBTB6"]);
    $('#chr').val(["chr11", "chr12"]);
    location.reload();

  }</script>
<button type="button" class='ajax_search_list' id="exemplary_query" onclick="exemplaryGeneQuery()">Example
  Query</button>
{% endblock %}