{% extends "draftapp/base.html" %}
{% block body%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<div class="container">
  <div class="container">
    <!-- Input captions-->
    <div class="row h-200">
      <div class="col-4">
        <h4>Query rSNPs for a GWAS trait by name or EFO ID:</h2>
      </div>
      <div class="col-4">
        <h4>Query rSNPs for a transcription factor:</h2>
      </div>
      <div class="col-4">
        <h4>Query rSNPs of a chromosome:</h2>
      </div>
    </div>



    <!-- Input fileds with autocomplete-->
    <div class="row input-group">
      <div class="col-4">
        <form class="d-flex" role="search">
          <input class="form-control me-2 d-flex" type="search" name="gwas" placeholder="GWAS name or EFOID"
            aria-label="Search" id="gwas_input">
      </div>

      <div class="col-4">
        <form class="d-flex" role="search">
          <input class="form-control me-2 d-flex" type="search" name="tf" placeholder="Transcription factors"
            aria-label="Search" id="tf_input">
      </div>

      <div class="col-4">
        <form class="d-flex" role="search">
          <input class="form-control me-2 d-flex" type="search" name="chr" placeholder="Chromosomes" aria-label="Search"
            id="chr_input">
      </div>
    </div>

    <!-- Buttons of selected gwas, tf and chr -->
    <div class="row mt-5">
      <div class="col-4">
        <ul id="gwas_list" style="list-style-type:none;">
        </ul>
      </div>
      <div class="col-4">
        <ul id="tf_list">
        </ul>
      </div>
      <div class="col-4">
        <ul id="chr_list">
        </ul>
      </div>
    </div>

    <!-- Delete and submit option -->
    <div class="row mt-5">
      <div class="col-4 align-items-start">
        <button class="btn d-flex" style="background-color: #00CED1;" type="submit" onclick="deleteGenes()">Delete
          Input</button>
      </div>
      <div class="col-4">
        <button class="btn d-flex" style="background-color: #063944; color: #fff; border-color: #063944" type="button"
          onclick="fillGenes()">Search</button>
      </div>
    </div>


    <!-- File upload -->
    <div class="row h-100 mt-5">
      <div class="col-md">
        <h4>Or enter a .txt file of GWAS traits or EFOIDs:</h4>
        The file should have one GWAS per line.
      </div>
    </div>
    <div class="row h-100 mt-5">
      <div class="col-md">
        <input type="file" accept=".txt, .csv" id="gwas_file">
      </div>
    </div>

    <!-- Exemplary Query -->
    <div class="row h-50 mt-5">
      <div class="col-md">
        <h5>Click here for an exemplary usage of the GWAS query:</h5>
      </div>
      <div class="row h-100">
        <div class="col-2 align-self-start">
          <button class="exemplary_query btn btn-light btn-outline-dark col-xs-2 text-left"
            style="background-color: #e3e6e6;" id="exemplary_query" type="button" onclick="exemplaryGwasQuery()">Example
            Query</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
  integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script>
  function makeButtonGroup(gwas, list, input_list) {
    let group = document.createElement('btn-group');
    let li = document.createElement('button');
    let x = document.createElement('button');
    li.classList.add("gene_button");
    li.classList.add("btn");
    x.classList.add("btn");
    li.innerText = gwas;
    x.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/></svg>';
    const isThisElement = (element) => element == li.innerText;
    x.onclick = function () {
      gwas_index = input_list.findIndex(isThisElement);
      if (gwas_index != -1) {
        input_list.splice(gwas_index, 1)
      };
      li.remove();
      x.remove();
    };
    group.appendChild(li);
    group.appendChild(x);
    list.appendChild(group);
  };
</script>

<script>
  let gwas_list = [];
  let chr_list = [];
  let tf_list = [];
  $(function () {
    var availableTags = [
      {% for gwas in gwases %}
            "{{gwas.name}}",
    {% endfor %}
    {% for gwas in gwases %}
  "{{gwas.efoid}}",
    {% endfor %}
    ];

  $("#gwas_input").autocomplete({
    source: function (request, response) {
      var results = $.ui.autocomplete.filter(availableTags, request.term);
      response(results.slice(0, 1000));
    },

    select: function (event, ui) {
      gwas_list.push(ui.item.value);
      let list = document.getElementById("gwas_list");
      makeButtonGroup(gwas_list.slice(-1), list, gwas_list);
      document.getElementById('gwas_input').value = "";
      return false;
    },
  });
    });


  $(function () {
    var chrTags = [
      {% for chr in chrs %}
            "{{chr}}",
    {% endfor %}
    ];

  $("#chr_input").autocomplete({
    source: function (request, response) {
      var results = $.ui.autocomplete.filter(chrTags, request.term);
      response(results.slice(0, 1000));
    },

    select: function (event, ui) {
      chr_list.push(ui.item.value);
      console.log(chr_list);
      let list = document.getElementById("chr_list");
      makeButtonGroup(chr_list.slice(-1), list, chr_list);
      document.getElementById('chr_input').value = "";
      return false;
    },

  });
    });


  $(function () {
    var tfTags = [
      {% for tf in tfs %}
            "{{tf.name}}",
    {% endfor %}
    ];

  $("#tf_input").autocomplete({
    source: function (request, response) {
      var results = $.ui.autocomplete.filter(tfTags, request.term);

      response(results.slice(0, 1000));
    },

    select: function (event, ui) {
      tf_list.push(ui.item.value);
      console.log(tf_list);
      let list = document.getElementById("tf_list");
      makeButtonGroup(tf_list.slice(-1), list, tf_list);
      document.getElementById('tf_input').value = "";
      return false;
    },

  });
    });
</script>

<script>

  document.getElementById('gwas_file').addEventListener('change', upload, false);
  function upload(evt) {
    var data = null;
    var file = evt.target.files[0];
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function (event) {
      var csvData = event.target.result;
      var results = Papa.parse(csvData);
      for (const array of results["data"]) {
        gwas_list = gwas_list.concat(array);
      };
      console.log(gwas_list);
    };

    reader.onerror = function () {
      alert('Unable to read ' + file.fileName);
    };
  };

</script>

<script>function exemplaryGwasQuery() {
    gwas_list = ["atherosclerosis", "estrogen-receptor negative breast cancer"];
    console.log(gwas_list);
    let list = document.getElementById("gwas_list");
    for (const gwas of gwas_list.values()) {
      console.log(gwas);
      makeButtonGroup(gwas, list, gwas_list);
      console.log(document.getElementById("gwas_list"));
    };
    console.log(gwas_list);
    console.log(document.getElementById("gwas_list"));

    /*tf_list = ["AIRE", "EBF3", "ZBTB6"];
      let tlist = document.getElementById("tf_list");
      for (const tf of tf_list.values()) {
        makeButtonGroup(gwas, tlist, tf_list);
      };
    
  
    chr_list = ["chr11", "chr12"];
      let clist = document.getElementById("chr_list");
      for (const chrom of chr_list.values()) {
        makeButtonGroup(chrom, clist, chr_list);
      }*/
  };
</script>


<script>function fillGenes() {
    console.log(gwas_list);
    //url
    let response = "{% url 'draftapp:Gwas_search_results_dict'%}" + "?gwas[]="
    //add each GWAS term
    gwas_list.forEach((gwas, index) => {
      if (index > 0) { response += "&gwas[]=" }
      response += gwas
    })
    //add each TF
    tf_list.forEach((tf, index) => {
      if (index >= 0) { response += "&tf[]=" }
      response += tf
    })
    //add each chromosome
    chr_list.forEach((chr, index) => {
      if (index >= 0) { response += "&chromosome[]=" }
      response += chr
    })
    //set new location to url
    window.location.href = response
  }</script>

<script>function deleteGenes() {
    //delete GWAS input
    document.getElementById("gwas_list").innerHTML = "";
    gwas_list = [];
    document.getElementById('gwas_input').value = "";
    //delete Tf input
    document.getElementById("tf_list").innerHTML = "";
    tf_list = [];
    document.getElementById('tf_input').value = "";
    //delete chr input
    document.getElementById("chr_list").innerHTML = "";
    chr_list = [];
    document.getElementById('chr_input').value = "";
  }</script>





<style>
  .exemplary_query:hover,
  .exemplary_query:focus,
  .exemplary_query:active,
  .exemplary_query.active,
  .open>.dropdown-toggle.exemplary_query {
    color: #fff !important;
    background-color: #063944 !important;
    border-color: #063944 !important;
    /*set the color you want here*/
  }


  .container {
    max-width: 1700px;
  }

  .gene_button {
    background: #CCFFFF;

  }

  .btn-group {
    border: #1df5f5;
  }
</style>

{% endblock %}