{% extends "draftapp/base.html" %}
{% block body%}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4" style="text-align: center;">
      <h4>SNEEP: How is transcription factor binding activity influenced by genetic variants?
      </h4>
    </div>
    <div class="col-8 text-center">
      <h4>Explore the query options for SNEEP:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="text-align: justify;">
      Regulatory single nucleotide polymorphisms (rSNPs) are predominantly found in non-coding regions. These changes of
      one base in the DNA
      can influence the binding affinity of transcription facotrs and with that the gene expression of target genes.
      SNEEP links rSNPs to the TFs influenced...
    </div>


    <div class="col">
      <button class="btn btn-secondary inline-button btn-flex" style="background-color: #e4e9e9;">
        <a href="{% url 'draftapp:gene_search' %}" class="btn" style="background-color: #e4e9e9;" role="button">
          <p><img class='img-fluid' src="{% static 'draftapp/images/dna-47643.png' %}" alt='GeneQuery' /></p>
          <span>
            <h5> Gene query </h5>
        </a></span>
      </button>
    </div>

    <div class="col">
      <button class="btn btn-secondary inline-button btn-flex" style="background-color: #e4e9e9;">
        <a href="{% url 'draftapp:gwas_search_extended' %}" class="btn" style="background-color: #e4e9e9;"
          role="button">
          <p><img class='img-fluid' src="{% static 'draftapp/images/dna-47643.png' %}" alt='GwasQuery' /></p>
          <span>
            <h5>Gwas query</h5>
        </a></span>
      </button>
    </div>

    <div class="col">
      <button class="btn btn-secondary inline-button btn-flex" style="background-color: #e4e9e9;">
        <a href="{% url 'draftapp:snp_search' %}" class="btn" style="background-color: #e4e9e9;" role="button">
          <p><img class='img-fluid' src="{% static 'draftapp/images/Mein Projekt.png' %}" alt='SNPQuery' /></p>
          <span>
            <h5>SNP query </h5>
          </span>
        </a>
      </button>
    </div>
  </div>
</div>






{% endblock %}