{% extends "draftapp/base.html" %}
{% block body%}
{% load static %}
<div class="container mt-5 px-4">
  <div class="row">
    <div class="col-4" style = "text-align: center;">
      <h4>SNEEP: How is transcription factor binding activity influenced by genetic variants?
      </h4>
    </div>
    <div class="col-6 text-center">
      <h4>Explore the query options for SNEEP:</h4>
    </div>
  </div>

<div class="row gx-5">
    <div class="col-4" style = "text-align: justify;">
      Regulatory single nucleotide polymorphisms (rSNPs) are predominantly found in non-coding regions. These changes of one base in the DNA 
        can influence the binding affinity of transcription facotrs and with that the gene expression of target genes. SNEEP links rSNPs to the TFs influenced...
    </div>
    
  
    <div class="col-2 text-center">
    <button class="btn btn-md btn-secondary inline-button" style="background-color: #e4e9e9;">
      <a href="{% url 'draftapp:gene_search' %}" class="btn" style="background-color: #e4e9e9;" role="button">
      <img class='GeneQuery' src="{% static 'draftapp/images/dna-47643.png' %}" width="200px" alt='GeneQuery' />
      <span>Gene search </a></span>
    </button>
  </div>

    <div class="col-2 text-center">
          <button class="btn btn-md btn-secondary inline-button" style="background-color: #e4e9e9;">
            <a href="{% url 'draftapp:gwas_search_extended' %}" class="btn" style="background-color: #e4e9e9;" role="button">
            <img class='GwasQuery' src="{% static 'draftapp/images/dna-47643.png' %}" width="200px" alt='GwasQuery' />
            <span>Gwas search</a></span>
          </button> 
        </div>
      
        <div class="col-2 text-center">
          <button class="btn btn-md btn-secondary inline-button" style="background-color: #e4e9e9;">
            <a href="{% url 'draftapp:snp_search' %}" class="btn" style="background-color: #e4e9e9;" role="button">
            <img class='SNPQuery' src="{% static 'draftapp/images/dna-47643.png' %}" width="200px" alt='SNPQuery' />
            <span>SNP search </a></span>
          </button>
        </div>
    </div>
  </div>



          
          
          
{% endblock %}

