{% extends "draftapp/base.html" %}
{% block body%}
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
<script src="{% static 'js/multiselect_new.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>

<div class="container">
  <div class="row h-200">
    <div class="col-12">
      <h4>Query SNEEP databank for rSNPs:</h4>
    </div>
    <div class="row input-group">
      <form action="{% url 'draftapp:snp_search_results'%}" method="get" class="d-flex" role="search">



        <div class="col-4">
          <select name="snps[]" id="snps" class="snps" multiple>
            <option value="rs10051400" id="rs10051400" label="rs10051400"> </option>
            <option value="rs7553708" id="rs7553708" label="rs7553708"> </option>
            <option value=" rs78258606" id=" rs78258606" label=" rs78258606"> </option>
            <option value="rs201551451" id="rs201551451" label="rs201551451"> </option>
          </select>
        </div>

        <div class="col-md">
          <button class="btn d-flex" style="background-color: #00CED1;" type="submit">Search</button>
      </form>
    </div>



    <div class="col-10 float-right">
      <ul id="snp_list">
      </ul>
    </div>
  </div>
</div>
<div class="row h-100 mt-5">
  <div class="col-md">
    <h4>Or enter a .txt file of snps:</h4>
    The file should have one SNP per line.
  </div>
</div>
<div class="row h-100 mt-5">
  <div class="col-md">
    <input type="file" accept=".txt, .csv" id="snp_file">
  </div>



</div>
</div>


<div class="col-2 align-self-start">
  <button class="exemplary_query btn btn-light btn-outline-dark col-xs-2 text-left" style="background-color: #e3e6e6;"
    id="exemplary_query" onclick="exemplarysnpQuery()">Example
    Query</button>
</div>


<script>
  new MultiSelectTag('snps', {
    rounded: true,    // default true
    shadow: true,      // default false
    input_id: "snp_input",
    list_id: "snp_options",
    container_id: "snp_container",
    multiselect_id: "snp_multi",
    placeholder: 'SNPs',
  })
</script>



<script>
  $(function () {
    var availableTags = [
      {% for snp in snps %}
        "{{snp.rsid}}",
    {% endfor %}
    ];

  $("#snp_input").autocomplete({
    source: function (request, response) {
      var results = $.ui.autocomplete.filter(availableTags, request.term);
      let snp_options = results.slice(0, 20);
      console.log(snp_options);
      let snp_opt = [];
      snp_options.forEach((snp, index) => {
        if (index >= 0) { let snp_object = {}; snp_object.value = snp, snp_object.label = snp; snp_opt.push(snp_object) }
      });
      new updateMultiSelectTag('snps', snp_opt, {
        rounded: true,    // default true
        shadow: true,      // default false
        ul_name: 'snp_options',
        input_container_id: "snp_container",
        input_id: "snp_input"
      });
    }
  });
  });


</script>

<script>
  let snp_list = [];
  document.getElementById('snp_file').addEventListener('change', upload, false);
  function upload(evt) {
    var data = null;
    var file = evt.target.files[0];
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function (event) {
      var csvData = event.target.result;
      var results = Papa.parse(csvData);
      for (const array of results["data"]) {
        snp_list = snp_list.concat(array);
      };
      console.log(snp_list);
      let snp_opt = [];
      snp_list.forEach((snp, index) => { if (index >= 0) { let ge = {}; ge.value = snp, ge.label = snp, ge.selected = "selected"; snp_opt.push(ge) } });
      new updateMultiSelectTag('snps', snp_opt, {
        rounded: true,    // default true
        shadow: true,      // default false
        ul_name: 'snp_options',
        input_container_id: "snp_container",
        input_id: "snp_input"
      });
    };
    reader.onerror = function () {
      alert('Unable to read ' + file.fileName);
    };
  };
</script>



<script>function exemplarysnpQuery() {
    $('#snps').val(["rs10051400", "rs7553708", "rs78258606", "rs201551451"]);
    location.reload();
  }
</script>



<style>
  .exemplary_query:hover,
  .exemplary_query:focus,
  .exemplary_query:active,
  .exemplary_query.active,
  .open>.dropdown-toggle.exemplary_query {
    color: #fff !important;
    background-color: #063944 !important;
    border-color: #063944 !important;
    /*set the color you want here*/
  }


  .container {
    max-width: 1700px;
  }

  .gene_button {
    background: #CCFFFF;

  }

  .btn-group {
    border: #1df5f5;
  }
</style>

{% endblock %}